* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.container{
    margin-top: 5%;
    margin-left:  2.5%;
    margin-right: 2.5%;
}
h1 {
    color: rgb(180, 125, 57);
    font-size: 175%;
    text-align: center;
}
.box {
    background-color: rgb(206, 165, 115);
    border: 3px solid black;
}
.header {
    font-size: 150%;
    position: relative;
    background-color: aqua;
    text-align: center;
    border: 3px solid black;
    left: 60%;
    width: 40%;
}
section > div:nth-child(2) {
    padding: 10px;
    text-align: justify;
}
.reference{
    font-size: 110%;
    text-align: center;
    margin-top:10% ;
}
.reference a {
    display: inline;
}
@media (min-width:992px){
    .col-lg-4{
        width: 33.33%;
        float: left;
        padding: 2.5%;
    }   
}

@media (min-width:768px) and (max-width:991px){
    .col-md-6{
        width: 50%;
        float: left;
        padding: 2.5%;
    }
    .col-md-12{
        width: 100%;
        clear: both;
        padding: 2.5%;
    }
}
@media (max-width:767px){
    .col-sm-12{
        width: 100%;
        padding: 2.5%;
    }
}